h1{
  font-size: 18pt;
}

h2{

}

h3{
  font-size: 12pt;
}

#zag{}

#llogo1{
  width: 70%;
}

#socie{
  width: 4%;
  margin: 2%;
}

#menu{
  margin-left: 7%;
}

#menu a{
  font-size: 12pt;
}

#nachalniki{
  font-size: 11pt
}
